
.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 300px;
  display: flex;
  flex-direction: row;
  .mat-nav-list {
    flex-basis: auto;
    display: flex;
    flex-direction: column;
  }

  .nav {
    &__primary {
      width: 50px;
    }

    &__secondary {

      width: 250px;
    }

  }


}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-light {
  position: sticky;
  background-color: white;
  top: 0;
  z-index: 1;
  height: 40vh;
  align-items: flex-start;
  flex-flow: flex-wrap;
  white-space: normal;
  justify-content: center;
}

.header {
  display: flex;
  width: 80%;
  height: 85%;
  font-size: 12px;
  margin-top: 30px;
  flex-direction: column;
  &__transaction {

  }

  &__meta {
    display: flex;
    flex-direction: row;
    flex-basis: auto;
    &-item {
      display: flex;
      margin-right: 10px; 
    }
  }

  &__tag {
    height: 25px;
    line-height: 25px;
    min-height: 25px;
    font-size: 10px;
    margin-left: 5px;
  }

  &__details {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  &__group {
    display: flex;
    flex-direction: column;
  }

  &__head {
    display: flex;
    font-size: 18px;
  }

  &__subhead {
    display: flex;
    font-size: 14px;
  }
  
  &__cta {
        height: 30px;
        line-height: 30px;
        min-height: 30px;
        font-size: 10px;
        padding: 0 5px;
        margin: 5px;
        display: flex;
        align-items: center;

    .mat-icon {
      font-size: 10px;
      vertical-align: sub;
      width: 20px;
    }

    &-group{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    &--success {
      background-color: lightgreen;
      display: flex;
    }

    &--danger {
      background-color: lightcoral;
      display: flex;
    }
  }
}
