<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <mat-nav-list class="nav__primary">
      <a mat-list-item href="#">Etisalat</a>
      <a mat-list-item href="#">
        <mat-icon>menu_open</mat-icon>
      </a>
      <a mat-list-item href="#">
        <mat-icon>notifications</mat-icon>
      </a>
      <a mat-list-item href="#">
        <mat-icon>account_circle</mat-icon>
      </a>
      <a mat-list-item href="#">
        <mat-icon>exit_to_app</mat-icon>
      </a>
      <a mat-list-item href="#">
        <mat-icon>headset_mic</mat-icon>
      </a>
      <a mat-list-item href="#">Lagorta</a>
    </mat-nav-list>
    <mat-nav-list class="nav__secondary">
      <a mat-list-item href="#">
        <mat-icon>home</mat-icon>
        Home
      </a>
      <a mat-list-item href="#">
        <mat-icon>repeat</mat-icon>
        Connect
      </a>
      <a mat-list-item href="#">
        <mat-icon>tune</mat-icon>
        Configuration
      </a>
      <a mat-list-item href="#">
        <mat-icon>storefront</mat-icon>
        Customer management
      </a>
      <a mat-list-item href="#">
        <mat-icon>supervisor_account</mat-icon>
        User management
      </a>
      <a mat-list-item href="#">
        <mat-icon>assessment</mat-icon>
        Reporting
      </a>
      <a mat-list-item href="#">
        <mat-icon>help</mat-icon>
        Requests
      </a>
      <a mat-list-item href="#">Campaigns</a>
      <a mat-list-item href="#">Sender names</a>
      <a mat-list-item href="#">
        <mat-icon>settings</mat-icon>
        Account settings
      </a>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="light">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <section class="header">
        <div class="header__transaction">REQUESTS</div>
        <div class="header__meta">
          <div class="header__meta-item">
            <strong>Code</strong>: 25323
          </div>
          <div class="header__meta-item">
            # <strong>ID</strong>: 25323
          </div>
          <div class="header__meta-item">
            <mat-icon class="header__icon">today</mat-icon>
            <strong>Created</strong>: 29-9-2019
          </div>
          <div class="header__meta-item">
            <mat-icon class="header__icon">local_offer</mat-icon>
            <strong>Tags</strong>:
            <button class="header__tag" mat-stroked-button>
              Summer
            </button>
            <button class="header__tag" mat-stroked-button>
              Holiday
            </button>
          </div>
        </div>
        <div class="header__details">
          <div class="header__group">
            <h1 class="header__head">
              <mat-icon class="header__icon">map</mat-icon>
              Summer Offers
            </h1>
            <h3 class="header__subhead">Campaign description will be here lorem ipsum is simply text.</h3>
          </div>
          <div class="header__cta-group">
            <button class="header__cta header__cta--danger" mat-flat-button color="warn">
              <mat-icon>thumb_down</mat-icon>
              <span>Reject</span>
            </button>
            <button class="header__cta header__cta--success" mat-flat-button color="primary">
              <mat-icon>thumb_up</mat-icon>
              <span>Approve</span>
            </button>
          </div>
        </div>
      </section>
    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>